<h1>Links</h1>

<% @links.each do |link| %>
  <div class="link_info" id='link_<%= link.id %>'>
    Url: <%= link.url %>
    <br>
    Title: <%= link.title %>
    <br>
    Read: <%= link.read_status %>
    <br>
    <br>
  </div>
<% end %>